<h1>We've given you new friends!</h1>

<button onclick="location.href='/posts'" class="navbutton" style="height:100px; width:400px; font-size:50px;">Your feed</button>
<button onclick="location.href='/friendships/create'" class="navbutton" style="height:100px; width:400px; font-size:30px;">Change my friends again!</button>
