<h1> The Best Feed </h1>
<p> <% @posts.limit(20).each do |post| %>
<b style = "color: white;">Post title:</b> <%= post.title %> <br>
<%= image_tag(post.image) %><br>
<b style = "color: white;">Post description: </b><%= post.description %></p>
<hr style = "width: 600px;">
<%end%>
