<h1> The Best Feed </h1>

<% @posts.limit(20).each do |post| %>
<br>
<p style="color:white;"><b>Post title: </b><%= post.title %></p>
<p style="color:white;"><b>Post description: </b><%= post.description %></p>
<%= image_tag(post.image) %><br>
<hr style="width: 600px;">
<%end%>
