<h2>Post</h2>
<div class="post">
    <h4>Title:</h4>
    <%= @post.title %>
    <br>

    <h4>Description:</h4>
    <%= @post.description %>
    <br>

    <h4>Image:</h4>
    <%= image_tag(@post.image) %><br>
    <br>

    <button onclick="location.href='/posts/update'" class="navbutton">Edit post</button>
    <button onclick="location.href='/posts/new'" class="navbutton">Add another post</button>
</div>
