body {
  margin-top: 30px;
  text-align: center;
}

.homebuttons {
  font-size: 30px;
}

.signinform {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
  border: 10px;
  border-color: black;
  background-color: white;
}

.registerform {
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
  border: 10px;
  border-color: black;
  background-color: white;
}
